<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admitted</title>
</head>

<body>
    <%- include('./common/header.ejs') %>
        <div class="container my-5">

            <h1 class="text-center my-5">Successfully admitted</h1>

            <div class="row">

                <div class="col fs-4">Name of the student</div>
                <div class="col fs-4">Course of the Student</div>
                <div class="col fs-4">Year of study applied</div>

            </div>
            <% if (viewAdmin.length>0){ %>
                <div class="row my-5">
                    <% for(var i=0;i<viewAdmin.length;i++){%>
                        <div class="col">
                            <%= viewAdmin[i].sfname %><br>
                                <%= viewAdmin[i].scourse %><br>
                                <img src="http://localhost:8080/upload/<%=viewAdmin[i].sfile %>" height="50" width="50"><br>
                                  <a href="/show/<%=viewAdmin[i]._id%>">view details</a>
                        </div>

                        <% } %>
                </div>
                <% } else { %>
                    No Record Found
                    <%} %>
        </div>
        <%- include('./common/footer.ejs') %>
</body>

</html>